.about {
    background: url('../assets/layered-waves-haikei-about.svg') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 0px !important;
    padding-bottom: 90px !important;
}
.subtitle {
    color: inherit;
    margin-bottom: 20px;
}

.about-card-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.content ul {
    list-style-type: none;  
    margin: 0;
}

.about-card-subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .content {
    margin: 0px 15px;
}

.columns.is-centered.has-text-centered {
    gap: 15px;
}

.column.is-one-third {
    background-color: white;
    border-radius: 5px;
    color: #333334;
    padding: 25px 0px;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.2),0 0 0 1px rgba(10,10,10,.02);
}

@media screen and (max-width: 768px) {
    .column.is-one-third {
        margin-bottom: 20px;
    }
    
}