.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.about-text {
    text-align: start;
}

.about-bio-content {
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--subtext-color);
}

.subtitle {
    color: inherit;
    margin-bottom: 20px;
}

.tech-stack {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.tech-stack-item {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
    width: 75px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
}

.tech-stack-item > i {
    font-size: 3rem;
}

.connect-content {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 350px;
    margin-bottom: 30px;
}

.tech-stack-gallery {
    height: 250px;
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: end;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.tech-stack-gallery-item {
    position: relative;
    width: fit-content;
}

.tech-stack-gallery-item > i {
    font-size: 1.8rem;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
}

@media screen and (max-width: 1150px) {
    .tech-stack {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}


@media screen and (max-width: 650px) {
    .about {
        grid-template-columns: 1fr;
        gap: 50px;
        height: auto;
    }
}

/* Skills icons styles */
.devicon-github-original, .devicon-express-original, .devicon-wordpress-plain {
    color: #575757 !important;
}

@media screen and (max-width: 490px) {
    .tech-stack-gallery-item > i {
        font-size: 1.845rem;
    }
}

/* Tooltip */
.tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: rotate(180deg);
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }