.field.is-grouped {
    justify-content: flex-end;
}

#snackbar-success, #snackbar-failure {
    visibility: hidden;
    min-width: 250px;
    color: #ffffff;
    border-radius: 2px;
    padding: 20px;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 10px;
    font-size: 17px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 20px 10px rgb(95 110 138 / 20%);
}

#snackbar-failure {
    background-color: #f55153;
}

#snackbar-success {
    background-color: #4caf50;
}

#snackbar-success.show, #snackbar-failure.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 6.5s;
    animation: fadein 0.5s, fadeout 0.5s 6.5s;
    -moz-animation: fadein 0.5s, fadeout 0.5s 6.5s;
    -ms-animation: fadein 0.5s, fadeout 0.5s 6.5s;
    -o-animation: fadein 0.5s, fadeout 0.5s 6.5s;
    
}

#snackbar-success .snackbar-art {
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    background-color: #3f8ed0;
    color: #ffffff;
}

#snackbar-failure .snackbar-art {
    display: inline-flex;
    padding: 10px 17px;
    border-radius: 50%;
    background-color: #faa3b7;
    color: #ffffff;
}

#snackbar-success .snackbar-title, #snackbar-failure .snackbar-title {
    font-size: 1rem;
    font-weight: 600;
}

#snackbar-success .snackbar-body, #snackbar-failure .snackbar-body {
    font-size: 0.9rem;
    max-width: 300px;
}

.dismiss-snackbar {
    cursor: pointer;
}

@-webkit-keyframes fadein {
    from {right: 0; opacity: 0;} 
    to {right: 30px; opacity: 1;}
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {right: 30px; opacity: 1;} 
    to {right: 0; opacity: 0;}
}

@keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
}

.contact-form-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #3f8ed0;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 300ms ease-in;
}

.contact-form-btn:hover {
    background-color: #3a82bd;
    color: #ffffff;
    transition: all 300ms ease-in;
}
/* Bot Test START */
.bot-test-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.check-container {
    display: flex;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 15px;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 7px;
    border: 1px solid var(--border-color);
    background-color: var(--input-color);
    cursor: pointer;
}

.checkmark:hover {
    border-color: #b5b5b5;
}

.check-container input:checked ~ .checkmark {
    background-color: var(--input-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 11px;
    height: 18px;
    border: solid rgb(55, 197, 55);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    animation: checkmarkSpawn 250ms ease-in 0s 1;
}

@keyframes checkmarkSpawn {
    0% {
        transform: scale(0) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.check-label {
    margin-left: 40px;
    transform: translate(0px, 3px);
}

.checked-test-container {
    background-color:var(--input-color);
    padding: 11px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    opacity: 1;
    max-width: 250px;
}

.task-controls-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.reset-test, .test-info-container {
    cursor: pointer;
    padding: 7px 11px;
    border-radius: 10px;
    background-color: #efeeee;
    color: #333;
}

.test-info {
    position: absolute;
    background-color:var(--test-info);
    padding: 10px;
    border-radius: 10px;
    max-width: 150px;
    font-size: 14px;
    color: white;
}

.test-info-open {
    display: block;
    visibility: visible;
    animation: fadeInTestBox 500ms ease-in-out 0s 1;
}

.test-info-closed {
    display: none;
    visibility: hidden;
}

.test-visible {
    display: block;
    visibility: visible;
    transition: opacity 1s ease-in-out;
    animation: fadeInTestBox 500ms ease-in-out 0s 1;
}

@keyframes fadeInTestBox {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.test-invisible {
    display: none;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
    animation: fadeOutTestBox 500ms ease-in-out 0s 1;
}

.solution-heading {
    font-size: 14px;
    padding-left: 3px;
}

.task-to-solve {
    background-color: #efeeee;
    color: #333;
    border-radius: 10px;
    padding: 7px 11px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.solution-input {
    border-radius: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 11px;
    margin-top: 10px
}

.solution-input:hover {
    border-color: #b5b5b5;
}

.solution-input::-webkit-outer-spin-button,
.solution-input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.solution-input[type=number] {
    -moz-appearance: textfield;
}

.solution-input:focus {
    outline: none;
}

.btn-disabled, .btn-disabled:hover {
    background-color: #83c7ff;
    cursor: not-allowed;
}


/* Bot Test END */