.footer-container {
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 100px 20px;
}

.footer-left {
    display: flex;
    gap: 8px;
}

.logo-svg-container-footer {
    transform: scale(.70) rotate(-90deg);
}

.footer-container .footer-nav {
    color: inherit;
}

@media screen and (max-width: 800px) {
    .footer-container {
        flex-direction: column;
    }
}

.relative-position {
    position: relative;
}

.footer-external-link-icon {
    position: absolute;
    top: -10px;
}

.footer-external-link-icon i {
    font-size: 10px;
}

.footer-logo .logo {
    width: 70px;
    height: auto;
}