.navbar.is-fixed-top {
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar {
    padding: 30px 30px 10px 30px;
}

.navbar-brand {
    align-items: center;
}

.navbar-burger:hover {
    background-color: rgba(0,0,0,0);
}

.logo {
    margin-left: 20px;
}

.logo-svg-container {
    transform: scale(.90);
  }

.navbar .navbar-brand .navbar-burger {
    height: 70px;
}

a.navbar-item:hover {
    background-color: white;
}

.navbar-item {
    color: #3E8ED0;
}

.contact-btn {
    margin-right: 15px;
}

.navbar-menu.is-active {
    background-color: rgba(255, 255, 255, 0);
}

@media screen and (max-width: 1023px) {
    .contact-btn {
        margin-right: 0px;
    }
}