.navbar {
    animation: afterSplashFadeIn 0.5s ease-in 0s 1;
    -webkit-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
    -moz-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
    -ms-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
    -o-animation:afterSplashFadeIn 0.5s ease-in 0s 1;
    padding: 10px 10px 10px 10px;
    background-color: var(--navbar-background);
    border-top: 4px solid #3f8ed0;
}

.navbar-brand {
    align-items: center;
}

.navbar-brand .logo {
    width: 70px;
    height: auto;
}

.navbar-burger:hover {
    background-color: rgba(0,0,0,0);
}

.logo {
    margin-left: 20px;
}

.navbar .navbar-brand .navbar-burger {
    height: 70px;
    color: var(--light-text);
}

a.navbar-item:hover {
    background-color: white;
}

.navbar-item {
    color: #3E8ED0;
}

.navbar-item * {
    padding: 10px;
    color: var(--light-text);
    border-bottom: solid 4px #3f8fd000;
    font-weight: 600;
    transition: all 300ms ease-in;
}

.navbar-item *:hover {
    border-bottom: solid 4px #3f8ed0;
    transition: all 300ms ease-in;
    color: var(--light-text);
}

.navbar-menu.is-active {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-menu.is-shadowless.has-text-centered {
    font-weight: 500;
}

.relative-pos {
    position: relative;
}

.nav-external-link-icon {
    position: absolute;
    top: -10px;
    left: 32px;
    pointer-events: none;
}

.nav-external-link-icon i {
    font-size: 10px;
}

@media screen and (max-width: 1023px) {
    .contact-btn {
        margin-right: 0px;
    }
}

.go-to-top-btn {
    position: fixed;
    right: 20px;
    bottom: 75px;
    z-index: 2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 11px;
    max-width: 135px;
    background-color: #ce7a34eb;
    visibility: hidden;
    opacity: 1;
    transition: opacity 600ms linear;
    border-radius: 50%;
}

.go-to-top-btn i {
    font-size: 1.5rem;
    color: #fcfcfc;
}

.go-to-top-btn:hover {
    background-color: #ce7a34;
}

.go-to-top-btn-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 400ms, opacity 400ms linear;
}