.navbar {
    animation: afterSplashFadeIn 0.5s ease-in 0s 1;
    -webkit-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
    -moz-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
    -ms-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
    -o-animation:afterSplashFadeIn 0.5s ease-in 0s 1;
    padding: 20px 20px 20px 20px;
    background-color: inherit;
    border-top: 4px solid #3f8ed0;

    background: rgb(2,0,36);
    background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,142,208,0) 0%, rgba(62,142,208,0.24833683473389356) 100%);
    background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,142,208,0) 0%, rgba(62,142,208,0.24833683473389356) 100%);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,142,208,0) 0%, rgba(62,142,208,0.24833683473389356) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#3e8ed0",GradientType=1);
}

.navbar-brand {
    align-items: center;
}

.navbar-burger:hover {
    background-color: rgba(0,0,0,0);
}

.logo {
    margin-left: 20px;
}

.logo-svg-container {
    transform: scale(.90) rotate(-90deg);
}

.navbar .navbar-brand .navbar-burger {
    height: 70px;
}

a.navbar-item:hover {
    background-color: white;
}

.navbar-item {
    color: #3E8ED0;
}

.contact-btn {
    margin-right: 15px;
}

.navbar-menu.is-active {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-end .navbar-item .active {
  color: #3e8ed0;
}

@media screen and (max-width: 1023px) {
    .contact-btn {
        margin-right: 0px;
    }
}

.logo-letter-one {
    stroke: #CE7A34;
    stroke-width: 25; 
    fill: none; 
    transform: translate(30px, 170px);
    transform-origin: 50% 50%;
  }

  .logo-letter-two {
    stroke: #3E8ED0;
    stroke-width: 25; 
    fill: none; 
    transform: rotate(180deg) translate(30px, 170px);
    transform-origin: 50% 50%;
  }

  .rotate-whole-logo:hover {
    animation: rotateWholeLogo 2s linear infinite;
    -webkit-animation: rotateWholeLogo 2s linear infinite;
    -moz-animation: rotateWholeLogo 2s linear infinite;
    -ms-animation: rotateWholeLogo 2s linear infinite;
    -o-animation: rotateWholeLogo 2s linear infinite;
  }

  @keyframes rotateWholeLogo {
    0% {
        transform: rotate(0deg) scale(0.9);
    }

    100% {
        transform: rotate(360deg) scale(0.9);
    }
  }

  @-webkit-keyframes rotateWholeLogo {
    0% {
        transform: rotate(0deg) scale(0.9);
    }

    100% {
        transform: rotate(630deg) scale(0.9);
    }
  }

  .logo-line {
    stroke: #868482; 
    stroke-width: 7; 
    fill: none;
    transform: translate(-30px, -30px);
  }

  .go-to-top-btn {
    visibility: hidden;
    opacity: 1;
    transition: all 600ms linear;
  }

  .go-to-top-btn i {
    font-size: 2rem;
    padding: 6px 8px;
    border-radius: 50%;
    background-color: #3e8ed0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    cursor: pointer;
    color: var(--button-text);
  }
  
  .go-to-top-btn i:hover {
    color: lightgray;
  }

  .go-to-top-btn-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 600ms, opacity 600ms linear;
  }