.hero {
  position: relative;
  height: 100vh;
}

.hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -300px;
}

.hero-main-title {
  font-size: 4rem;
  font-weight: 900;
  z-index: 1;
}

.hero-main-body {
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 1;
  padding-bottom: 60px;
}

.contact-btn {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light-text);
  padding: 10px;
  border-radius: 10px;
  transition: all 300ms ease-in;
}

.contact-btn i {
  color: #3f8ed0;
  margin-left: 5px;
  transition: all 300ms ease-in;
}

.contact-btn:hover, .contact-btn:hover i {
  color: #ffffff;
  background-color: #3f8ed0;
  transition: all 300ms ease-in;
}



.arrow-to-content {
  color: var(--arrow-to-content);
  animation: arrowToContent ease-in 5s infinite;
  -webkit-animation: arrowToContent ease-in 5s infinite;
  -moz-animation: arrowToContent ease-in 5s infinite;
  -ms-animation: arrowToContent ease-in 5s infinite;
  -o-animation: arrowToContent ease-in 5s infinite;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 200px;
  transition: all 300ms ease-in;
}

.arrow-to-content:hover {
  color: gray;
  transition: all 300ms ease-in;
}

@keyframes arrowToContent {
  6% {
    transform: translate(-50%, 7px);
  }
  10% {
    transform: translate(-50%, -7px);
  }
  16% {
    transform: translate(-50%, 7px);
  }
  24% {
    transform: translate(-50%, -7px);
  }
  32% {
    transform: translate(-50%, 7px);
  }
}

@-webkit-keyframes arrowToContent {
  6% {
    transform: translate(-50%, 7px);
  }
  10% {
    transform: translate(-50%, -7px);
  }
  16% {
    transform: translate(-50%, 7px);
  }
  24% {
    transform: translate(-50%, -7px);
  }
  32% {
    transform: translate(-50%, 7px);
  }
}


@media screen and (max-width: 450px) {
  .hero-main-title {
    font-size: 3rem;
  }
  
  .hero-main-body {
    font-size: 1.2rem;
  }

  .contact-btn.button.is-info.is-rounded.hero-btn {
    font-size: 1rem;
  }
}


@media screen and (max-width: 920px) {
  .hero::before {
    background-attachment: scroll;
  }
}

@media screen and (max-height: 500px) {
  .hero-body {
    margin-top: -150px;
  }

  .arrow-to-content {
    bottom: 100px;
  }

  .hero-main-title {
    font-size: 2rem;
  }
  
  .hero-main-body {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }
  
  .hero-body .contact-btn {
    font-size: 1.2rem;
  }
}