.hero {
  background-image: url(../assets/herobackground.png);
  z-index: -999;
  position: relative;
  animation: 0.5s ease-in 0s 1 afterSplashFadeIn;
}

.hero-body .container .title, .hero-body .container .title-two {
    font-size: 10vmin;
}

.hero-body .container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
}
  
  .title {  
    position: relative;
    bottom: 150px;
  }

  .title-two {
    position: relative;
    bottom: 150px;
  }