.not-found-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-code {
    font-size: 4rem;
    font-weight: 900;
    z-index: 1;
}

.error-text, .error-text-two {
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
    text-align: center;
}

.error-text-two {
    margin-bottom: 50px;
}

.button.go-back-error {
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--light-text);
    background-color: inherit;
    padding: 10px;
    cursor: pointer;
}

.button.go-back-error:hover {
    color: var(--light-text);
    background-color: var(--hover-button);
}

.button.go-back-error:focus {
    outline: none;
    box-shadow: none;
}

.button.go-back-error i {
    color: #3E8ED0;
    margin-right: 10px;
}


