.not-found-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-code {
    font-size: 6rem;
    font-weight: 900;
    z-index: 1;
}

.error-text, .error-text-two {
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
    text-align: center;
}

.error-text-two {
    margin-bottom: 50px;
}

.button.go-back-error {
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    transition: all 300ms ease-in;
    background-color: #3E8ED0;
}

.button.go-back-error:hover {
    color: #ffffff;
    background-color: #3a82bd;
    transition: all 300ms ease-in;
}

.button.go-back-error:focus {
    outline: none;
    box-shadow: none;
}

.button.go-back-error i {
    color: #FFFFFF;
    margin-right:10px;
    transition: all 300ms ease-in;
}


