.other-single-project-container a {
    color: var(--light-text);
}

.other-single-project-computer {
    width: 449px;
    height: 320px;
    border-radius: 10px;
}

.other-single-project-mobile {
    width: 150px;
    height: 319px;
}

.other-single-project-computer-footer {
    position: relative;
}

.other-single-project-computer-footer img {
    height: 298px;
    border-radius: 10px 10px 10px 10px;
}

.other-single-project-computer-footer-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 300ms ease-in;
}

.other-single-project-container:hover .other-single-project-computer-footer-content {
    background-color: var(--other-projects-blur);
    opacity: 1;
    transition: all 300ms ease-in;
}

.other-single-project-mobile-body {
    position: relative;
}

.other-single-project-mobile-body-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    transition: all 300ms ease-in;
}

.other-single-project-container:hover .other-single-project-mobile-body-content  {
    background-color: var(--other-projects-blur);
    opacity: 1;
    transition: all 300ms ease-in;
}

.other-single-project-mobile-body img {
    border-radius: 10px 10px 10px 10px;
}

.project-desktop-body-name, .project-mobile-body-name {
    font-size: 1.4rem;
    font-weight: 500;
}

.other-single-project-mobile-body-content-container {
    white-space: pre-wrap;
    text-align: center;
}

.project-desktop-body-description {
    white-space: pre-wrap;
    text-align: center;
}

@media screen and (max-width: 670px) {
    .other-single-project-computer {
        width: 265px;
        height: 201px;
    }

    .other-single-project-computer-footer img {
        height: auto;
    }

    .other-single-project-mobile {
        height: 200px;
        width: 89px;
    }

    .other-single-project-mobile-body img {
        height: 178px;
    }
}