.splash {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/herobackground.png);
    animation: 0.8s ease-in 0s 1 initialize;
}

@keyframes initialize {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.splash-logo {
    transform: scale(3);
}

.splash-letter-one {
    transform-origin: 50% 50%;
    transform: rotate(0deg) translate(30px, 170px);
    animation: 2s ease-out 0s 1 moveDown;
    animation-play-state: running;
}

.splash-letter-two {
    transform-origin: 50% 50%;
    transform: rotate(180deg) translate(30px, 170px);
    animation: 2s ease-out 0s 1 moveUp;
}

@keyframes moveDown {
    0% {
        transform: translate(30px, 17px);
    }
    100% {
        transform: translate(30px, 170px);
    }
  }

  @keyframes moveUp {
    0% {
        transform: rotate(180deg) rotate(0deg) translate(30px, 10px);
    }
    100% {
        transform: rotate(180deg) rotate(0deg) translate(30px, 170px);
    }
  }