.splash {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: initialize 0.8s ease-in 0s 1;
    -webkit-animation: initialize 0.8s ease-in 0s 1;
    -moz-animation: initialize 0.8s ease-in 0s 1;
    -ms-animation: initialize 0.8s ease-in 0s 1;
    -o-animation: initialize 0.8s ease-in 0s 1;
}

@keyframes initialize {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.splash-logo {
    transform: scale(3);
}

.splash-letter-one {
    transform-origin: 50% 50%;
    transform: translate(0px, 0px) scale(0.4);
    opacity: 1;
    animation: blueLetter 1.2s ease-out 0s 1;
    -webkit-animation: blueLetter 1.2s ease-out 0s 1;
    -moz-animation: blueLetter 1.2s ease-out 0s 1;
    -ms-animation: blueLetter 1.2s ease-out 0s 1;
    -o-animation: blueLetter 1.2s ease-out 0s 1;
}

.splash-letter-two {
    transform-origin: 50% 50%;
    transform: translate(0px, 0px) scale(0.4);
    opacity: 1;
    animation: orangeLetter 1.2s ease-out 0s 1;
    -webkit-animation: orangeLetter 1.2s ease-out 0s 1;
    -moz-animation: orangeLetter 1.2s ease-out 0s 1;
    -ms-animation: orangeLetter 1.2s ease-out 0s 1;
    -o-animation: orangeLetter 1.2s ease-out 0s 1;
}

.logo-line {
    transform-origin: 50% 50%;
    transform: translate(0px, 0px) scale(0.4);
    opacity: 1;
    animation: fadeInGrayLine 1.2s ease-out 0s 1;
    -webkit-animation: fadeInGrayLine 1.2s ease-out 0s 1;
    -moz-animation: fadeInGrayLine 1.2s ease-out 0s 1;
    -ms-animation: fadeInGrayLine 1.2s ease-out 0s 1;
    -o-animation: fadeInGrayLine 1.2s ease-out 0s 1;
}

@keyframes blueLetter {
    0% {
        transform: translate(60px, 0px) scale(1) rotateY(-180deg);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px) scale(0.4) rotateY(0deg);
        opacity: 1;
    }
  }

  @keyframes orangeLetter {
    0% {
        transform: translate(-60px, 0px) scale(1) rotateY(180deg);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px) scale(0.4) rotateY(0deg);
        opacity: 1; 
    }
  }

  @keyframes fadeInGrayLine {
    0% {
        opacity: 0; 
        transform: scale(1) rotate(360deg);
    }
    100% {
        opacity: 1; 
        transform: scale(0.4) rotate(0deg);
    }
  }