.splash {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: initialize 0.8s ease-in 0s 1;
    -webkit-animation: initialize 0.8s ease-in 0s 1;
    -moz-animation: initialize 0.8s ease-in 0s 1;
    -ms-animation: initialize 0.8s ease-in 0s 1;
    -o-animation: initialize 0.8s ease-in 0s 1;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,142,208,0.24833683473389356) 0%, rgba(62,142,208,0.04665616246498594) 50%, rgba(62,142,208,0.24833683473389356) 100%);
    background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,142,208,0.24833683473389356) 0%, rgba(62,142,208,0.04665616246498594) 50%, rgba(62,142,208,0.24833683473389356) 100%);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(62,142,208,0.24833683473389356) 0%, rgba(62,142,208,0.04665616246498594) 50%, rgba(62,142,208,0.24833683473389356) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#3e8ed0",GradientType=1);
}

@keyframes initialize {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.splash-logo {
    transform: scale(3) rotate(-90deg);
}

.splash-logo-dark {
    transform: scale(3) rotate(90deg);
}

.splash-letter-one {
    transform-origin: 50% 50%;
    transform: rotate(0deg) translate(30px, 170px);
    animation: moveDown 2s ease-out 0s 1;
    -webkit-animation: moveDown 2s ease-out 0s 1;
    -moz-animation: moveDown 2s ease-out 0s 1;
    -ms-animation: moveDown 2s ease-out 0s 1;
    -o-animation: moveDown 2s ease-out 0s 1;
    animation-play-state: running;
}

.splash-letter-two {
    transform-origin: 50% 50%;
    transform: rotate(180deg) translate(30px, 170px);
    animation: moveUp 2s ease-out 0s 1;
    -webkit-animation: moveUp 2s ease-out 0s 1;
    -moz-animation: moveUp 2s ease-out 0s 1;
    -ms-animation: moveUp 2s ease-out 0s 1;
    -o-animation: moveUp 2s ease-out 0s 1;
}

@keyframes moveDown {
    0% {
        transform: translate(30px, 17px);
    }
    100% {
        transform: translate(30px, 170px);
    }
  }

  @keyframes moveUp {
    0% {
        transform: rotate(180deg) rotate(0deg) translate(30px, 10px);
    }
    100% {
        transform: rotate(180deg) rotate(0deg) translate(30px, 170px);
    }
  }