.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}

.main-subheading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: left;
}

.main-subheading i {
    font-size: 2.3rem;
    color: #d0803e;
    margin-top: 12px;
}

.main-subheading.work-subheading div {
    font-size: 2.5rem;
    padding-left: 10px;
}

.work-header-content {
    text-align: left;
    font-size: 1.35rem;
    margin-top: 10px;
}

.work-header-contact-btn {
    width: 50%;
    margin-top: 10px;
    font-size: 1.5rem !important;
    justify-self: center;
}

.work-logo {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
}

@media screen and (max-width: 1023px) {    
    .main-subheading, .main-subheading.work-subheading div {
        font-size: 2rem;
    }

    .main-subheading i {
        font-size: 1.8rem;
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 990px) {
    .work-header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        justify-items: start;
    }

    .work-header-contact-btn {
        justify-self: left;
        font-size: 1.2rem !important;
        width: fit-content;
    }

    .work-subheading {
        margin-bottom: 0px;
        display: flex;
        align-self: center;
    }

    .work-header-content {
        margin-top: 0px;
    }
}