.theme-dark {
  --dark-text: #6d6d6d;
  --light-text: #e5e5e5;
  --dark-background: #21252b;
  --button-text: #e5e5e5;
  --hr-color: #333333;
  --gh-icon-color: #ffffff;
  --project-card: #2d2d2d;
  --border-color: rgba(255, 255, 255, 0.15);
  --input-color: #2d2d2d;
  --footer-background: #1e1e1e;
  --arrow-to-content: #ffffff;
  --projects-background: #10101091;
  --scroll-top-shadow: #464646;
  --hover-button: #2f2f2f;
  --subtext-color: #b7cada;
  --other-projects-blur: #21252bc7;
  --test-info: #676767;
  /* --navbar-background: rgba(33, 37, 43, 60%); */
}

.theme-light {
  --dark-text: #333333;
  --light-text: #333;
  --dark-background: #fcfcfc;
  --button-text: #ffffff;
  --hr-color: #f5f5f5;
  --gh-icon-color: #333333;
  --project-card: #eeeeee;
  --border-color: rgba(0, 0, 0, 0.1);
  --input-color: #f6f6f6;
  --footer-background: #fefefe;
  --arrow-to-content: #333333;
  --projects-background: #f9fafb;
  --scroll-top-shadow: #cecece;
  --hover-button: #f2f0f0;
  --subtext-color: #415565;
  --other-projects-blur: #fcfcfccf;
  --test-info: #b5b5b5;
  /* --navbar-background: rgba(252, 252, 252, 60%); */
}

* {
  box-sizing: border-box;
  font-size: 18px;
}


html, #root {
  background-color: var(--dark-background);
  color: var(--light-text);
  transition: 0.5s all;
  max-width: 1920px;
  margin: auto;
}

.button.is-info {
  font-weight: 600;
  font-size: 1rem;
  color: var(--button-text);
  font-family: 'Poppins', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; 
}

.button {
  font-family: 'Poppins', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 490px) {
  * {
      font-size: 15px;
  }
}

.navbar, .hero {
  animation: afterSplashFadeIn 0.5s ease-in 0s 1;
  -webkit-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
  -moz-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
  -ms-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
  -o-animation: afterSplashFadeIn 0.5s ease-in 0s 1;
  
}

@keyframes afterSplashFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}